@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-50
}

a {
  text-decoration: none;
  cursor: pointer;
}

.active{
  @apply bg-primary
}

.active figure{
  @apply brightness-100 invert-0
}

